[submodule "SolutionsBrowser"]
	path = SolutionsBrowser
	url = https://github.com/hredwan/SolutionsBrowser
[submodule "fileOpener"]
	path = fileOpener
	url = git://github.com/jeffgrann/fileOpener.git
[submodule "mdComments"]
	path = mdComments
	url = git://github.com/jeffgrann/mdComments.git
